@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans overflow-x-hidden;
  }
}

/* Custom global overrides for Leaflet maps to fit Uber aesthetic */
.leaflet-container {
  font-family: 'Inter', sans-serif !important;
}

.leaflet-bar {
  border: none !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.leaflet-bar a {
  border-bottom: 1px solid #F6F6F6 !important;
  color: #111111 !important;
}